.dare-request-wrapper {
    box-sizing: border-box;
    display: flex;

    .scroll-bar {
        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background-color: rgba(245, 195, 149, 0.1);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(245, 195, 149, 0.5);
            border-radius: 10px;
            transition: 0.2s;
            width: 12px;

            &:hover {
                background: #efa058;
            }
        }
    }

    @media (min-width: 880px) {
        max-width: 880px;
        margin: 0 auto;
        background: #ffffff;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        padding: 40px;
        justify-content: space-between;

        .dare-request-videocCard {
            width: 370px;
            display: block;
        }
    }

    @media (max-width: 879px) {
        justify-content: center;

        .dare-request-videocCard {
            display: none;
        }
    }

    .dare-request-info {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        width: 340px;

        .request-info-title {
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 28px;
            color: #54504E;
            text-align: center;
        }

        .request-info-reason {
            margin-top: 20px;
            color: #E68970;
            font-style: normal;
            font-weight: 800;
            font-size: 16px;
            line-height: 18px;
            text-align: center;
            letter-spacing: 0.02em;
        }

        .request-info-letter {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            margin-top: 5px;
            line-height: 18px;
            letter-spacing: 0.005em;
            text-align: center;
        }

        .request-info-options {
            padding-right: 5px;
            max-height: 430px;
            overflow-y: scroll;
        }
    }
}