.dareme-support {
    box-sizing: border-box;
    display: flex;

    .scroll-bar {
        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background-color: rgba(245, 195, 149, 0.1);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(245, 195, 149, 0.5);
            border-radius: 10px;
            transition: 0.2s;
            width: 12px;

            &:hover {
                background: #efa058;
            }
        }
    }

    .dareme-support-information {
        width: 370px;

        .dareme-support-fun {
            width: 340px;
            margin: 0 auto;

            .support-option {
                margin: 0px auto;
            }

            .support-fun {
                width: 330px;
                margin: 0 auto;
                margin-top: 20px;
            }
        }
    }

    .support-letters {
        width: 265px;
        margin: 50px auto 0px auto;


        .support-big-letter {
            font-style: normal;
            font-weight: 800;
            font-size: 22px;
            line-height: 26px;
            letter-spacing: 0.02em;
        }

        .support-small-letter {
            margin-top: 15px;
            font-weight: 600;
            font-style: normal;
            font-size: 18px;
            line-height: 22px;
            color: #54504E;
        }

        .support-explain {
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
            line-height: 20px;
            color: #54504E;
        }
    }

    @media (min-width: 880px) {
        max-width: 880px;
        margin: 0 auto;
        background: #ffffff;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        padding: 40px;
        justify-content: space-between;

        .dareme-support-videoCardDesktop {
            width: 370px;
            display: block;
        }

        .dareme-support-information {
            margin-top: 20px;
        }
    }

    @media (max-width: 879px) {
        justify-content: center;

        .dareme-support-videoCardDesktop {
            display: none;
        }

        .dareme-support-information {
            margin: 0 4px;
            background: #FFFFFF;
            box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
            border-radius: 5px;
            padding: 15px;
        }
    }
}