.fundme-profile-card-wrapper {
  box-sizing: border-box;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 20px 0px;
  width: 320px;

  .teaser-video {
    position: relative;
    margin: 0px 20px;
    width: 280px;
    height: 480px;
    filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.15));
    border-radius: 5px 5px 0px 0px;

    .cover-image {
      width: 280px;
      height: 480px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-radius: 5px 5px 0px 0px;
    }

    .react-player-height {
      width: 100% !important;
      height: 100% !important;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px 5px 0px 0px;

      video {
        width: auto !important;
        height: 100% !important;
      }
    }

    .react-player-width {
      width: 100% !important;
      height: 100% !important;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px 5px 0px 0px;

      video {
        width: 100% !important;
        height: auto !important;
      }
    }

    .mute-icon {
      position: absolute;
      right: 15px;
      bottom: 15px;
    }

    .play-icon {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 40px;
      height: 40px;
      background-color: #14BDC7;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: #108AA1;
      }
    }
  }

  .time-info {
    width: 100%;
    height: 42px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    display: flex;
    justify-content: center;
    align-items: center;

    .item-type {
      display: flex;
      align-items: center;
      width: 85px;
      height: 25px;
      background: #FFFFFF;
      border-radius: 20px;
      font-family: 'Lato';
      font-style: normal;
      font-weight: 800;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.02em;
      color: #108AA1;
    }

    .left-time {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0.02em;
      display: flex;
      align-items: center;
      color: #DE5A67;
    }
  }

  .item-detail {
    margin-top: 10px;
    margin-left: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 280px;

    .item-title {
      margin-bottom: 10px;
      height: 52px;
      width: 250px;
      font-family: 'Lato';
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .process-bar {
      margin-bottom: 5px;

      .goal-bar {
        position: relative;
        height: 13px;
        width: 250px;
        display: flex;

        .value-bar {
          position: absolute;
          top: 0px;
          left: 0px;
        }
      }
    }

    .goal-donuts {
      height: 20px;
      margin-top: 5px;
      margin-bottom: 10px;
      width: 100%;
      margin-left: 30px;
      font-family: 'Lato';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
    }
  }
}