.dialog-wrapper {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;

    .dialog-main {
        box-sizing: border-box;
        padding: 24px;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        padding: 24px;
        width: 275px;
        background: #ffffff;
        z-index: 15;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        pointer-events: unset;

        .big-icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .dialog-header {
            display: flex;
            justify-content: space-between;

            .dialog-title {
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: #000000;
            }
        }

        .dlg-language {
            width: 170px;
            margin: 30px auto;
            display: flex;
            justify-content: space-between;

            .active {
                cursor: pointer;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 20px;
                text-align: center;
                color: #EFA058;
            }

            .inactive {
                cursor: pointer;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 20px;
                text-align: center;
                color: #D6D5CC;
            }
        }

        .dialog-context {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            text-align: center;
            word-wrap: break-word;
            margin-bottom: 8px;
        }

        .dialog-subcontext-top-header {
            font-weight: 800;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            margin-bottom: 20px;
        }

        .dialog-subcontext-header {
            font-weight: 800;
            font-size: 16px;
            line-height: 18px;
            text-align: center;
        }

        .dialog-subcontext {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: #000000;
            text-align: center;
            word-wrap: break-word;
            margin-bottom: 20px;

            li {
                margin-bottom: 8px;
            }
        }

        .dialog-buttons {
            display: flex;
            justify-content: center;
        }

        .dialog-social {
            display: flex;
            justify-content: center;
            margin-top: 18px;

            .link {
                padding: 0px 10px;
            }
        }

        .add-donuts {
            margin-top: 30px;
            margin-bottom: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .avatars-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 130px;

            .dialog-avatars {
                width: 220px;
                height: 100%;
                position: relative;

                .owner-avatar {
                    position: absolute;
                    z-index: 10;
                }

                .user-avatar {
                    position: absolute;
                    right: 0px;
                }
            }
        }

        .cover-image {
            margin: 0px auto;
            width: 175px;
            height: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }

    }
}