.fundme-details {
  box-sizing: border-box;

  .desktop-header-info {
    width: 100%;
    margin: 0px auto 10px auto;

    .time-info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left-time {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        color: #E17253;
      }

      .vote-info {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-style: normal;
        font-weight: bold;
        color: black;

        span {
          width: fit-content;
          margin: auto 5px;
        }
      }
    }

    .title-category {
      display: flex;
      justify-content: space-between;

      .dare-title {
        margin-top: 10px;
        height: fit-content;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        color: black;
      }

      .dare-category {
        margin-left: 260px;
        margin-top: 10px;
      }
    }
  }

  .main-body {
    display: flex;

    .fundme-details-information {
      width: 370px;

      .funding-goal {
        margin-top: 5px;
        margin-bottom: 15px;

        .title {
          margin-left: 15px;
          display: flex;
          align-items: center;
          font-family: 'Lato';
          font-style: normal;
          font-weight: 800;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 0.02em;
          color: #EFA058;
        }

        .process-bar {
          margin: 15px auto;
          position: relative;
          width: 330px;
          height: 13px;
          background: #C4C4C4;

          .process-value {
            position: absolute;
            height: 13px;
            top: 0px;
            left: 0px;
            background-image: linear-gradient(to right, #dd4d71 30%, #e48c3c, );
          }
        }

        .donuts-count {
          margin-left: 20px;
          font-family: 'Lato';
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          line-height: 26px;
          color: #000000;

          .over-donuts {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 800;
            font-size: 40px;
            line-height: 28px;
            color: #EFA058;
          }
        }
      }

      .dareme-support-fun {
        width: 340px;
        margin: 0 auto;

        .see-superfan-reward {
          width: 330px;
          margin: 0px auto 15px auto;
        }

        .number-of-donuts {
          width: 280px;
          margin: 10px auto 20px auto;
          display: flex;
          justify-content: space-between;
          font-family: 'Lato';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          text-align: center;
          color: #BAB6B5;

          span {
            margin-top: 10px;
            width: 60px;
            border: 1px solid #BAB6B5;
            border-left: 0px;
            border-bottom: 0px;
            border-right: 0px;
          }
        }

        .support-fun {
          width: 330px;
          margin: 0 auto;
          margin-top: 20px;
        }

        .support-letter {
          margin-top: 15px;
          margin-left: 10px;
          font-family: 'Lato';
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 16px;
          color: #54504E;
        }

        .support-explain {
          margin-left: 10px;
          font-family: 'Lato';
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 14px;
          color: #54504E;
        }
      }

      .dare-btn {
        width: 330px;
        margin: 0px auto;
        margin-top: 15px;
      }

      .below-text {
        margin-top: 15px;
        margin-left: 25px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.005em;
        color: #54504E;
      }
    }
  }

  @media (min-width: 880px) {
    max-width: 880px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 40px;

    .main-body {
      justify-content: space-between;

      .fundme-details-videoCardDesktop {
        width: 370px;
        display: block;
      }

      .fundme-details-videoCardMobile {
        display: none;
      }
    }
  }

  @media (max-width: 879px) {
    .desktop-header-info {
      display: none;
    }

    .main-body {
      justify-content: center;

      .fundme-details-videoCardDesktop {
        display: none;
      }

      .fundme-details-videoCardMobile {
        width: 340px;
        margin: 0 auto;
        display: block;
      }

      .funding-goal {
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        padding: 10px 5px 10px 5px;
        margin: 10px 15px 30px 15px !important;

        .title {
          margin-left: 0px !important;
        }
      }

      .desktop-header-info {
        display: none;
      }

      .donuts-count {
        margin-left: 5px !important;
      }
    }
  }
}